grid{
    border-radius: 6px; 
    font-size: 18px;
    box-shadow: 0 8px 6px -6px black;
}

entry{
    color: rgb(118, 118, 118);
    background: rgb(43, 43, 43);
    font-family: Arial;
    margin: 0px 32px;
    border-radius: 6px;
    border-color: rgb(19, 19, 19);
}

#dashboard-box{
    background: rgb(43, 43, 43);
}

button#logout { 
    font-family: Arial;
    color: rgb(43, 43, 43);
    background: rgb(254, 176, 98);
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;    
    margin-top: 20px; 
    margin-right: 20px;
}

button#logout:hover { 
    color: rgb(19, 19, 19);
    background: rgb(250, 162, 75);
}

label#welcome-label { 
    font-family: Arial;
    color: rgb(254, 176, 98);
    margin-top: 20px; 
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

label#first-label { 
    font-family: Arial;
    color: rgb(43, 43, 43);
    background: rgb(254, 176, 98);
    border-radius: 6px;
    font-size: 30px;
}

label#tips-label { 
    font-family: Arial;
    color: rgb(118, 118, 118);
    background: rgb(19, 19, 19);
    font-size: 20px;
}

treeview{
    background: rgb(19, 19, 19);
    color: rgb(118, 118, 118);
    border-color: rgb(118, 118, 118);
}


treeview.view label {
    font-family: Arial;
    font-size: 20px;
    color: rgb(43, 43, 43);
}

treeview.view button {
    background: rgb(254, 176, 98);
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#scrollable{
    color: white;
    background: rgb(43, 43, 43);
}

#dialog-box{
    color:rgb(250, 162, 75);
    background: rgb(43, 43, 43);
    border-radius: 6px;
}

#dialog-box button{
    background: rgb(250, 162, 75);
    color: rgb(43, 43, 43);
    border-radius: 6px;
}

#dialog-box button:hover{
    background: rgb(254, 176, 98);
}